## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3]:
import pandas as pd

In [4]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [5]:
data.groupby("sex").agg({"sex":"count"})

          sex
sex
Female  10771
Male    21790

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [11]:
data[data["sex"] == "Male"].agg({"age":"mean"})

age    39.433547
dtype: float64

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [22]:
us_citizens = data[data["native-country"] == "United-States"].shape[0]
total_count = data.shape[0]
us_citizens / total_count

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [30]:
print(">50k")
more_50 = data[data["salary"]==">50K"]
print(more_50["age"].mean())
print(more_50["age"].std())

print("<=50k")
less_50 = data[data["salary"]=="<=50K"]
print(less_50["age"].mean())
print(less_50["age"].std())

>50k
44.24984058155847
10.519027719851826
<=50k
36.78373786407767
14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [33]:
more_50.groupby("education").agg({"education":"count"})
# по таблице видно, что не все из них имееют высшее образлвание

              education
education
10th                 62
11th                 60
12th                 33
1st-4th               6
5th-6th              16
7th-8th              40
9th                  27
Assoc-acdm          265
Assoc-voc           361
Bachelors          2221
Doctorate           306
HS-grad            1675
Masters             959
Prof-school         423
Some-college       1387

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [43]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max']

np.float64(90.0)

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [64]:
data.loc[:,"marital_group"] = data["marital-status"].apply(lambda x: "Married" if x.startswith("Married") else "Single")
tmp = data[data["sex"]=="Male"].groupby(["marital_group","salary"]).agg({"marital_group":"count"})

married_perc = tmp.loc[("Married",">50K"),"marital_group"]/(tmp.loc[("Married",">50K"),"marital_group"] + tmp.loc[("Married","<=50K"),"marital_group"])
single_perc = tmp.loc[("Single",">50K"),"marital_group"]/(tmp.loc[("Single",">50K"),"marital_group"] + tmp.loc[("Single","<=50K"),"marital_group"])

print(f"Доля зарабатывающих много среди женатых - {married_perc}")
print(f"Доля зарабатывающих много среди холостяков - {single_perc}")

Доля зарабатывающих много среди женатых - 0.4405139945351156
Доля зарабатывающих много среди холостяков - 0.08449509031397745

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [13]:
max_hours = data['hours-per-week'].max()
people_max_hours = data[data['hours-per-week'] == max_hours]

count_max_hours = len(people_max_hours)
print(f"Количество людей, работающих {max_hours} часов в неделю: {count_max_hours}")
rich_people = people_max_hours[people_max_hours['salary'] == '>50K']
percent_rich = (len(rich_people) / count_max_hours) * 100

print(f"Процент зарабатывающих много среди работающих {max_hours} часов в неделю: {percent_rich:.2f}%")

Количество людей, работающих 99 часов в неделю: 85
Процент зарабатывающих много среди работающих 99 часов в неделю: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [15]:
data.groupby(["native-country","salary"]).agg({'hours-per-week':"mean"})

                       hours-per-week
native-country salary
?              <=50K        40.164760
               >50K         45.547945
Cambodia       <=50K        41.416667
               >50K         40.000000
Canada         <=50K        37.914634
...                               ...
United-States  >50K         45.505369
Vietnam        <=50K        37.193548
               >50K         39.200000
Yugoslavia     <=50K        41.600000
               >50K         49.500000

[82 rows x 1 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [20]:
data.loc[:, "AgeGroup"] = data["age"].apply(lambda x: "young" if (16 <= x < 35) else ("adult" if (35 <= x < 70) else ("retiree" if (70 <= x <= 100) else "Unknown")))

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [32]:
more_50K_age_groups = data[data["salary"] == ">50K"].groupby("AgeGroup").agg({"salary": "count"}).rename(columns={"salary": "count_>50K"})
more_50K_age_groups
age_groups_counts = data.groupby("AgeGroup").agg({"salary": "count"}).rename(columns={"salary": "total_count"})
age_groups_counts
result = more_50K_age_groups.join(age_groups_counts)
result['percentage_>50K'] = (result['count_>50K'] / result['total_count']) * 100

max_group = result.loc[result['percentage_>50K'].idxmax()]


print(f"Группа: {max_group.name}, Процент: {max_group['percentage_>50K']:.2f}%")

Группа: adult, Процент: 34.89%

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [43]:
data.groupby("occupation").agg({"occupation":"count"}).rename(columns={"occupation":"count_of_occ"})

def filter_func(group):
    fl = (group['hours-per-week'] > 5).sum()
    return group['age'].mean() <= 40 and (fl==group.shape[0])

filtered_groups = data.groupby('occupation').filter(filter_func)
filtered_groups.groupby('occupation').agg({"occupation":"count"})

              occupation
occupation
Armed-Forces           9